{% extends 'partials/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="father">
    <div class="container">
        <h1 class="h1">Mahmoud Romman</h1>
        <h2 class="h2">Django Developer</h2>
        <div class="image11">
            <img src="../../media/avatar.png" alt="../../media/avatar.png">
        </div>
        <p class="pa1">
            I'm Mahmoud Romman and this is my coding profile, I'm Django Developer
            over 3+ years of experience, My personal features are Self-reliance, Trust, 
            Work under pressure, Work in a team, Patience and Stamina. 
        </p>
        <p class="pa2">Location: Cairo, Egypt</p>
        <p class="pa2">Phone: 01223548005 - 01012045552</p>
        <p class="pa2">Gmail: Mahmoud.Sayyedahmed900@gmail.com</p>
        <a href="https://github.com/MahmoudRomman/" class="btn66">GitHub</a>
        <a href="#" class="btn66">LinkedIn</a>

    </div>
</div>


{% endblock content %}
    
