{% extends 'partials/base.html' %}
{% block title %}Register Page{% endblock title %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-4">
                    <h3>Registration Page</h3>
                    <hr>

                    {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                    {% endif %}
                    {% endfor %}

                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input class="btn btn-primary col-md-6 offset-md-3" type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock content %}
    
    